<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="verCarrito()">
        <ion-badge color="primary" class="carrito">{{ carritoService.productos.length }}</ion-badge>
        <ion-icon slot="icon-only" name="cart" text-left></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="productoService.connect === false">
    <h1>NO se puede conectar al servidor</h1>
  </div>
  <ion-grid *ngIf="productoService.connect === true">
    <ion-text color="dark" text-center>
      <h1>Total de Productos: {{ productos.length }}</h1>
    </ion-text>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let producto of productos">
        <ion-card>
          <ion-card-header>
            <ion-ripple-effect></ion-ripple-effect>
            <!--<ion-item>-->
              <ion-img (click)="verImagen(producto.idProducto)" src="../../assets/img/foto2.JPG"></ion-img>
            <!--</ion-item>-->
            <ion-card-title>{{ MaysPrimera(producto.nombre)}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
           {{producto.descripcion}}
          </ion-card-content>

          <ion-item>
            <ion-icon name="card"></ion-icon>
            <ion-label>Precio: {{producto.precio}} $us</ion-label>
            <!--<ion-button  color="primary">Ver Producto</ion-button>-->
          </ion-item>
          <!--<ion-buttons slot="end">-->
            <!--<ion-button shape="round" color="primary">Round Button</ion-button>-->
          <!--</ion-buttons>-->

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
